:root {
    --green: #00cc3d;
    --greenText: white;
    --blue: #00a2ff;
    --blueText: white;
    --yellow: #f9cd46;
    --yellowText: black;
    --pink: #ff3656;
    --pinkText: white;
}

* {
    font-family: "Russo One", sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background-color: black;
    cursor: none;
    user-select: none;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 80vh;
}

.spinner img {
    height: 10vh;
    animation: 10s infinite forwards linear spinner;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 5vh;
    background: black;
    background-size: 20vh;
    background-position: 0 0;
    animation: 260s infinite forwards linear disco, 20s infinite forwards linear pattern;
    transform: 1s background-position;
}

.slides.pos {
    background-position: 100vw 100vw;
}

.logo {
    height: 10vh;
    animation: 260s infinite forwards disco-logo;
}

.antiburn {
    position: relative;
    top: 0;
    left: 0;
    animation: 100s infinite alternate antiburn;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 1vh;
    margin-top: 15vh;
}

.countdownCell h1 {
    margin: 0;
    font-size: 15vh;
}

.countdownCell p {
    margin: 0;
    font-size: 5vh;
}

.countdownCell:not(.colon) h1 {
    width: 20vh;
}

.countdownCell.colon {
    animation: 2s infinite forwards linear blink;
}

@keyframes spinner {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, -360deg);
    }
}

/*
    `disco` animation keyframe timeline:

          Green        Ilde   Blue         Ilde   Yellow       Ilde   Pink         Ilde
        |<---------->|<---->|<---------->|<---->|<---------->|<---->|<---------->|<---->|
        |    60s     |  5s  |    60s     |  5s  |    60s     |  5s  |    60s     |  5s  | = 260s
        |    23%     |  2%  |    23%     |  2%  |    23%     |  2%  |    23%     |  2%  |
        0%          23%    25%          48%    50%          73%    75%          98%    100%

    Ilde: interlude (change between each colour)
*/

@keyframes disco {
    0% {
        background-color: var(--green);
        background-image: url("media/pattern-green.svg");
        color: var(--greenText);
        opacity: 0;
    }

    1% {
        background-color: var(--green);
        background-image: url("media/pattern-green.svg");
        color: var(--greenText);
        opacity: 1;
    }

    22% {
        background-color: var(--green);
        background-image: url("media/pattern-green.svg");
        color: var(--greenText);
        opacity: 1;
    }

    23% {
        background-color: var(--green);
        background-image: url("media/pattern-green.svg");
        color: var(--greenText);
        opacity: 0;
    }

    25% {
        background-color: var(--blue);
        background-image: url("media/pattern-blue.svg");
        color: var(--blueText);
        opacity: 0;
    }

    26% {
        background-color: var(--blue);
        background-image: url("media/pattern-blue.svg");
        color: var(--blueText);
        opacity: 1;
    }

    47% {
        background-color: var(--blue);
        background-image: url("media/pattern-blue.svg");
        color: var(--blueText);
        opacity: 1;
    }

    48% {
        background-color: var(--blue);
        background-image: url("media/pattern-blue.svg");
        color: var(--blueText);
        opacity: 0;
    }

    50% {
        background-color: var(--yellow);
        background-image: url("media/pattern-yellow.svg");
        color: var(--yellowText);
        opacity: 0;
    }

    51% {
        background-color: var(--yellow);
        background-image: url("media/pattern-yellow.svg");
        color: var(--yellowText);
        opacity: 1;
    }

    72% {
        background-color: var(--yellow);
        background-image: url("media/pattern-yellow.svg");
        color: var(--yellowText);
        opacity: 1;
    }

    73% {
        background-color: var(--yellow);
        background-image: url("media/pattern-yellow.svg");
        color: var(--yellowText);
        opacity: 0;
    }

    75% {
        background-color: var(--pink);
        background-image: url("media/pattern-pink.svg");
        color: var(--pinkText);
        opacity: 0;
    }

    76% {
        background-color: var(--pink);
        background-image: url("media/pattern-pink.svg");
        color: var(--pinkText);
        opacity: 1;
    }

    97% {
        background-color: var(--pink);
        background-image: url("media/pattern-pink.svg");
        color: var(--pinkText);
        opacity: 1;
    }

    98% {
        background-color: var(--pink);
        background-image: url("media/pattern-pink.svg");
        color: var(--pinkText);
        opacity: 0;
    }

    100% {
        background-color: var(--green);
        background-image: url("media/pattern-green.svg");
        color: var(--greenText);
        opacity: 0;
    }
}

@keyframes disco-logo {
    0% {
        filter: brightness(1);
    }

    49% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(0);
    }

    73% {
        filter: brightness(0);
    }

    74% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes pattern {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -100vh;
    }
}

@keyframes antiburn {
    0% {
        top: -1%;
        left: -1%;
    }

    100% {
        top: 1%;
        left: 1%;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}